<h2 class="about-me-title">ABOUT ME</h2>
<P class="about-me-content">
    I am a full stack developer with 4+ years of professional experience on 
    web-based application development. I graduated from Micro-Link Inforamtion 
    Technology College with bachelor of science in Management Information System.
    I am proactive learner, continuously improving skills and researching 
    leading-edge tools to ensure relevant knowledge within constantly changing 
    IT landscape. After moving to USA, I completed a 14-weeks intensive course 
    to gain supplemental experience in full stack development technologies
    and also to uplift my proficiency to the level of US technology industry.
</P>