{% load static %}

<h2>CONTACT ME</h2>

<div class="contact-me-detail">
    <!-- <p>I am available for hire and open to any ideas of cooperation. </p> -->
    <div class="contact-address">
        <img src="{% static 'myprofile/images/email.png' %}" alt="" srcset=""> 
        <br>
        yofetahe@gmail.com
    </div>
    <div class="contact-address">
        <img src="{% static 'myprofile/images/linkedin_circle.png' %}" alt="" srcset=""> 
        <br>
        <a href="https://www.linkedin.com/in/yofetahe-habtu/" target="_blank"> 
            https://www.linkedin.com/in/yofetahe-habtu/ 
        </a>
    </div>
    <div class="contact-address">
        <img src="{% static 'myprofile/images/github_circle.png' %}" alt="" srcset=""> 
        <br>
        <a href="https://github.com/yofetahe" target="_blank"> 
            https://github.com/yofetahe 
        </a>
    </div>
</div>