{% extends 'myprofile/base.html' %}

{% block content %}
{% load static %}
<style>         
        
</style>
<section id="intro">
    <h4 id="name">Yofetahe Habtu <br> <i>full stack developer</i></h4>
    <h3>
        “ Give a man a program, frustrate him for a day.
        Teach a man to program, frustrate him for a lifetime. ” <br>
        <i>Muhammad Waseem</i>
    </h3>
</section>

<section id="about_me">
    {% include 'myprofile/about_me.html' %}
</section>

<section id="portfolio">
    {% include 'myprofile/portfolio.html' %}
</section>

<section id="technologies">
    {% include 'myprofile/technologies.html' %}            
</section>

<section id="contact_me">
    {% include 'myprofile/contact_me.html' %}
</section>

<section id="my_notes">
    {% include 'myprofile/my_notes.html' %}
</section>

{% endblock content %}