{% extends 'myprofile/base.html' %}

{% block content %}
{% load static %}
<style>         
        
</style>
<section id="intro">
    <h1>Hello, I'm Yofetahe Habtu</h1>
    <!-- <hr style="border-bottom: 1ps solid rgb(165, 0, 0);"> -->
    <h3><i>full stack web developer</i></h3>
</section>

<section id="about_me">
    {% include 'myprofile/about_me.html' %}
</section>

<section id="portfolio">
    {% include 'myprofile/portfolio.html' %}
</section>

<section id="technologies">
    {% include 'myprofile/technologies.html' %}            
</section>

<section id="contact_me">
    {% include 'myprofile/contact_me.html' %}
</section>

<!-- <section id="my_notes">
    {% include 'myprofile/my_notes.html' %}
</section> -->

{% endblock content %}