{% extends 'myprofile/base.html' %}

{% block content %}
{% load static %}
<style>         
        
</style>
<section id="intro">
    <!-- <h1>Yofetahe Habtu</h1> -->
    <!-- <hr style="border-bottom: 1ps solid rgb(165, 0, 0);"> -->
    <h3>
        “Give a man a program, frustrate him for a day.
        Teach a man to program, frustrate him for a lifetime.” <br>
        <i>Muhammad Waseem</i>
    </h3>
    <!-- <img src="{% static 'myprofile/images/full-stack.png'%}" style="width: 80%; opacity: 0.7;"> -->
</section>

<section id="about_me">
    {% include 'myprofile/about_me.html' %}
</section>

<section id="portfolio">
    {% include 'myprofile/portfolio.html' %}
</section>

<section id="technologies">
    {% include 'myprofile/technologies.html' %}            
</section>

<section id="contact_me">
    {% include 'myprofile/contact_me.html' %}
</section>

<!-- <section id="my_notes">
    {% include 'myprofile/my_notes.html' %}
</section> -->

{% endblock content %}