{% load static %}

<h2>MY NOTES</h2>

<div class="note-content">
    <div class="title">Note Title</div>
    <div class="note-intro">Note intro</div>
    <a href="">Read More</a>
</div>
<div class="note-content">
    <div class="title">Note Title</div>
    <div class="note-intro">Note intro</div>
    <a href="">Read More</a>
</div>
<div class="note-content">
    <div class="title">Note Title</div>
    <div class="note-intro">Note intro</div>
    <a href="">Read More</a>
</div>
<div class="note-content">
    <div class="title">Note Title</div>
    <div class="note-intro">Note intro</div>
    <a href="">Read More</a>
</div>
<div class="note-content">
    <div class="title">Note Title</div>
    <div class="note-intro">Note intro</div>
    <a href="">Read More</a>
</div>
<div class="note-content">
    <div class="title">Note Title</div>
    <div class="note-intro">Note intro</div>
    <a href="">Read More</a>
</div>