
{% load static %}

<h2>SOME OF MY WORK</h2>

<div class="project-row">
    <div class="project-picture">
        <img src="{% static 'myprofile/images/project-display.png' %}" alt="">
    </div>
    <div class="project-description">
        <div class="project-detail">
            <h3>School Managment System (SMS)</h3>
            <p class="platform">Web Based Application</p>
            <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
            <p>An internationally recognized Scientist and Artist from Loyola University of Chicago.</p>
            <br>
            <a class="my-button" target="_blank" href="http://huntercole.org">Visit Website</a>
            <a class="my-button" target="_blank" href="http://huntercole.org">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" srcset="">
        </div>
    </div>
</div>
<div class="project-row">
    <div class="project-description">
        <div class="project-detail">
            <h3>Look-4-Me</h3>
            <p class="platform">Web Based Application</p>
            <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
            <p>An internationally recognized Scientist and Artist from Loyola University of Chicago.</p>
            <br>
            <a class="my-button" target="_blank" href="http://huntercole.org">Visit Website</a>
            <a class="my-button" target="_blank" href="http://huntercole.org">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" srcset="">
        </div>
    </div>
    <div class="project-picture">
        <img src="{% static 'myprofile/images/project-display.png' %}" alt="">
    </div>    
</div>
<div class="project-row">
    <div class="project-picture">
        <img src="{% static 'myprofile/images/project-display.png' %}" alt="">
    </div>
    <div class="project-description">
        <div class="project-detail">
            <h3>E-Commerce</h3>
            <p class="platform">Web Based Application</p>
            <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
            <p>An internationally recognized Scientist and Artist from Loyola University of Chicago.</p>
            <br>
            <a class="my-button" target="_blank" href="http://huntercole.org">Visit Website</a>
            <a class="my-button" target="_blank" href="http://huntercole.org">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" srcset="">
        </div>
    </div>
</div>