
{% load static %}

<h2>SOME OF MY WORK</h2>


<div class="project-row">    
    <div class="project-picture">
        <img src="{% static 'myprofile/images/Project-Look4Me.png' %}" alt="">
    </div>
    <div class="project-description">
        <div class="project-detail">
            <h3>Look-4-Me</h3>
            <p>
                It is a web based dating app. Users create an account and the app filter from members based on the logged 
                in user interest. It also incorporate messaging between members. 
                Beside this, logged in user can search others beyond his/her initial interest. 
            </p>
            <br>
            <a class="my-button" target="_blank" href="http://52.27.193.61">Visit Website</a>
            <a class="my-button" target="_blank" href="https://github.com/yofetahe/look-4-me">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/python.png' %}" alt="Python" title="Python">
            <img src="{% static 'myprofile/images/django.png' %}" alt="Django" title="Django">
            <img src="{% static 'myprofile/images/sqlite.png' %}" alt="Sqlite" title="Sqlite">
            <img src="{% static 'myprofile/images/github.png' %}" alt="Github" title="Github">        
        </div>
    </div>    
</div>
<div class="project-row">
    <div class="project-picture">
        <img src="{% static 'myprofile/images/Project-Relax-your-finger.png' %}" alt="">
    </div>
    <div class="project-description">
        <div class="project-detail">
            <h3>Relax-Your-Finger</h3>
            <p>
                A game app on typing speed. Users register and compete with their 
                friends. The app shows each player typing status and if the player is 
                registered user, it will save the record of the player.
            </p>
            <br>
            <a class="my-button" target="_blank" href="#">Visit Website</a>
            <a class="my-button" target="_blank" href="https://github.com/yofetahe/Relax-Your-Finger-Game">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" srcset="">            
            <img src="{% static 'myprofile/images/materialize.png' %}" alt="Materialize" title="Materialize">
            <img src="{% static 'myprofile/images/angular.png' %}" alt="Angular" title="Angular">
            <img src="{% static 'myprofile/images/expressjs.png' %}" alt="Express.js" title="Express.js">
            <img src="{% static 'myprofile/images/nodejs.png' %}" alt="NodeJS" title="NodeJS">
            <img src="{% static 'myprofile/images/socket.png' %}" alt="Socket.io" title="Socket.io">
            <img src="{% static 'myprofile/images/mongodb.png' %}" alt="Mongo DB" title="Mongo DB">
            <img src="{% static 'myprofile/images/github.png' %}" alt="Github" title="Github"> 
        </div>
    </div>
</div>
<div class="project-row">
    <div class="project-picture">
        <img src="{% static 'myprofile/images/Project-JobLessNess.png' %}" alt="">
    </div>
    <div class="project-description">
        <div class="project-detail">
            <h3>Job-Less-Ness</h3>
            <p>
                An application to graphically represent unemployment rate of USA 
                for the last 10 years (2009 - 2018). It generate a report at the 
                state level and per state's county. The app uses HighChart.js 
                library to generate the graph reports.
            </p>
            <br>
            <a class="my-button" target="_blank" href="#">Visit Website</a>
            <a class="my-button" target="_blank" href="https://github.com/yofetahe/unemployment_vis">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" title="CSS">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" title="Javascript">
            <img src="{% static 'myprofile/images/jQuery.png' %}" alt="JQuery" title="JQuery">
            <img src="{% static 'myprofile/images/c-sharp.png' %}" alt="C#" title="C#">
            <img src="{% static 'myprofile/images/mysql.png' %}" alt="MySQL" title="MySQL">
            <img src="{% static 'myprofile/images/github.png' %}" alt="Github" title="Github">
        </div>
    </div>
</div>
<div class="project-row">
    <div class="project-picture">
        <img src="{% static 'myprofile/images/Project-NetFix.png' %}" alt="">
    </div>
    <div class="project-description">
        <div class="project-detail">
            <h3>NetFix</h3>
            <p>
                An application to graphically represent unemployment rate of USA 
                for the last 10 years (2009 - 2018). It generate a report at the 
                state level and per state's county. The app uses HighChart.js 
                library to generate the graph reports.
            </p>
            <br>
            <a class="my-button" target="_blank" href="#">Visit Website</a>
            <a class="my-button" target="_blank" href="https://github.com/yofetahe/Dojo-Flix-App">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" title="CSS">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" title="Javascript">
            <img src="{% static 'myprofile/images/jQuery.png' %}" alt="JQuery" title="JQuery">
            <img src="{% static 'myprofile/images/c-sharp.png' %}" alt="C#" title="C#">
            <img src="{% static 'myprofile/images/mysql.png' %}" alt="MySQL" title="MySQL">
            <img src="{% static 'myprofile/images/github.png' %}" alt="Github" title="Github">
        </div>
    </div>
</div>
<div class="project-row">
    <div class="project-picture">
        <img src="{% static 'myprofile/images/Project_SMS.png' %}" alt="">
    </div>
    <div class="project-description">
        <div class="project-detail">
            <h3>School Managment System (SMS)</h3>
            <p>
                An application that enhance the administration of schools.
                It has a feature to manage student's, academic and 
                non-academic staff teaching-learning related informations.                
            </p>
            <br>
            <a class="my-button" target="_blank" href="https://www.youtube.com/watch?v=atWx1gbwG30">Visit Website</a>
            <a class="my-button" target="_blank" href="https://github.com/yofetahe/SMS_Everest">View Source Code</a>
        </div>
        <div class="project-technologies">
            <h4>BUILT WITH</h4>
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/JavaScript.png' %}" alt="" srcset="">
            <img src="{% static 'myprofile/images/java.png' %}" alt="Java" title="Java">
            <img src="{% static 'myprofile/images/jQuery.png' %}" alt="JQuery" title="JQuery">
            <img src="{% static 'myprofile/images/ajax.png' %}" alt="Ajax" title="Ajax">            
            <img src="{% static 'myprofile/images/mysql.png' %}" alt="MySQL" title="MySQL">
            <img src="{% static 'myprofile/images/github.png' %}" alt="Github" title="Github">
        </div>
    </div>
</div>

<!-- <div class="techno-list">
    <div class="polaroid rotate_right">
        <img src="{% static 'myprofile/images/django.png' %}" alt="Django" width="50" height="50">
        <p class="caption">Django</p>
    </div>          
    <div class="polaroid rotate_left">
        <img src="{% static 'myprofile/images/flask.png' %}" alt="Flask" width="50" height="50">
        <p class="caption">Flask</p>
    </div>
    <div class="polaroid rotate_right">
        <img src="{% static 'myprofile/images/django.png' %}" alt="Django" width="50" height="50">
        <p class="caption">Django</p>
    </div>          
    <div class="polaroid rotate_left">
        <img src="{% static 'myprofile/images/flask.png' %}" alt="Flask" width="50" height="50">
        <p class="caption">Flask</p>
    </div>        
</div>       -->
<!-- 
<div class="view-more">
    <a href="#" class="my-button view-more-btn">VIEW MORE</a>
</div> -->