{% load static %}

<div class="technologies">
        
    <h2>MY EXPERIENCE</h2>
            
    <div class="tech-list">
        <div class="tech-row">
            <h3>FRONT END</h3>
            <p>
                Front-end is a term that involves the building of webpages and 
                user interfaces for web-applications. It implements the structure, 
                design, behavior, and animation of websites, web applications, or mobile 
                apps.
            </p>            
            <img src="{% static 'myprofile/images/HTML.png' %}" alt="HTML" title="HTML">
            <img src="{% static 'myprofile/images/CSS.png' %}" alt="CSS" title="CSS">
            <img src="{% static 'myprofile/images/Javascript.png' %}" alt="Javascript" title="Javascript">
            <img src="{% static 'myprofile/images/angular.png' %}" alt="Angular" title="Angular">
            <img src="{% static 'myprofile/images/jQuery.png' %}" alt="JQuery" title="JQuery">
            <img src="{% static 'myprofile/images/Bootstrap.png' %}" alt="Bootstrap" title="Bootstrap">
            <img src="{% static 'myprofile/images/ajax.png' %}" alt="Ajax" title="Ajax">
            <img src="{% static 'myprofile/images/materialize.png' %}" alt="Materialize" title="Materialize">            
        </div>
        <div class="separator"></div>
        <div class="tech-row">
            <h3>BACK END</h3>
            <p>
                Back end development refers to the server side of an application 
                and everything that communicates between the database and the browser.
            </p>
            <img src="{% static 'myprofile/images/nodejs.png' %}" alt="NodeJS" title="NodeJS">
            <img src="{% static 'myprofile/images/python.png' %}" alt="Python" title="Python">
            <img src="{% static 'myprofile/images/c-sharp.png' %}" alt="C#" title="C#">
            <img src="{% static 'myprofile/images/java.png' %}" alt="Java" title="Java">

            <img src="{% static 'myprofile/images/MEAN.png' %}" alt="MEAN" title="MEAN">
            <img src="{% static 'myprofile/images/expressjs.png' %}" alt="Express.js" title="Express.js">
            <img src="{% static 'myprofile/images/flask.png' %}" alt="Flask" title="Flask">
            <img src="{% static 'myprofile/images/django.png' %}" alt="Django" title="Django">

            <img src="{% static 'myprofile/images/sql.png' %}" alt="SQL" title="SQL">
            <img src="{% static 'myprofile/images/mysql.png' %}" alt="MySQL" title="MySQL">
            <img src="{% static 'myprofile/images/sqlite.png' %}" alt="Sqlite" title="Sqlite">
            <img src="{% static 'myprofile/images/mongodb.png' %}" alt="Mongo DB" title="Mongo DB"> 

            <img src="{% static 'myprofile/images/socket.png' %}" alt="Socket.io" title="Socket.io">
        </div>
        <div class="separator"></div>
        <div class="tech-row">
            <h3>TOOLS</h3>
            <p>
                A programming tool or software development tool is a computer 
                program that software developers use to create, debug, maintain, 
                or otherwise support other programs and applications.
            </p>            
            <img src="{% static 'myprofile/images/visual-studio-code.png' %}" alt="Visual-Studio" title="Visual-Studio">
            <img src="{% static 'myprofile/images/eclipse.png' %}" alt="Eclipse" title="Eclipse">
            <img src="{% static 'myprofile/images/STS.png' %}" alt="STS" title="Sprint Tool Suite">
            <img src="{% static 'myprofile/images/Intellij.png' %}" alt="Intellij" title="Intellij">
            <img src="{% static 'myprofile/images/netbean.png' %}" alt="Netbeans" title="Netbeans">
            <img src="{% static 'myprofile/images/github_circle.png' %}" alt="Github" title="Github">
        </div>
    </div>   
</div>